.product-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 16px; /* Add some space between the product cards */
  }
  
  .product-card {
    flex: 1 1 calc(25% - 16px); /* 25% width minus the gap */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    border: 1px solid #ccc;
    padding: 16px;
    margin: 8px 0; /* Add vertical margin for spacing */
  }
  .product-card:hover{
    transition: 0.5s;
  }
  .image{
    width: 300px;
height: 300px;
  }
  .newcars{
padding-top: 3%;
padding-bottom: 3%;
  }